<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clash</title>
    <!-- the star of the show - the Vue library! -->

    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="vue.js"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="recorder.js"></script>

    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

    <div id="app">
        <div id="top-bar">
            <span>
                {{name}}
            </span>
            <md-button @click="triggerContact()" class="md-icon-button" id="add-friend">
                <md-icon style="color: white" class=" fa fa-user-plus"></md-icon>
            </md-button>
        </div>
        <div id="side-bar">
            <div v-for="friend in friends">
                <div @click="selectFriend(friend.id)" class="side-button" v-bind:style="{background: getColor(friend.id)}">
                    {{ friend.name }}
                </div>

            </div>
        </div>
        <div id="msg-area">

            <msg-text v-for="msg in friends[current].messages" v-bind:type="msg.type" v-bind:direction="getAlignment(msg.id)" v-bind:id="msg.id"
                v-bind:name="nameFromId(msg.id)" v-bind:text="msg.data"></msg-text>

        </div>
        <div id="msg-input">

            <md-field style="width: 80%; display: inline-block ">
                <md-input v-model="message"></md-input>
            </md-field>

            <md-button @click="sendMessage()" id="send-button" class="md-icon-button">
                <md-icon class=" fa fa-paper-plane"></md-icon>
            </md-button>

            <md-button @click="recordAudio()" id="record-button" class="md-icon-button">
                <md-icon class="fa" v-bind:class="{ 'fa-microphone': !recording, 'fa-microphone-slash': recording}"></md-icon>
            </md-button>
        </div>

        <md-dialog-prompt :md-active.sync="active" v-model="value" md-title="Add Friend" md-input-maxlength="30"
            md-input-placeholder="Name....." md-confirm-text="Add" @md-confirm="addContact()" />

        <md-button class="md-primary md-raised" @click="active = true">Prompt</md-button>
        <span v-if="value">Value: {{ value }}</span>

    </div>


</body>

</html>